application/databases/Application/Log/View/
application/databases/Application/notification.xml
application/databases/Application/__/notification/
application/databases/Application/*.backup
application/databases/PageCarton/Cron/Run/
extensions/
application/databases/Ayoola/Object/dbase.xml
application/databases/Application/settings.xml
application/databases/Application/activity.xml
application/databases/Ayoola/Access/localuser.xml
application/databases/Ayoola/Doc/table.xml
application/databases/Application/Profile/table.xml
application/databases/Application/__/notification/
application/databases/Application/Subscription/Checkout/order.xml
application/databases/Application/Wallet/transaction.xml
application/databases/Ayoola/Extension/Import/table.xml
application/databases/Ayoola/Object/widget.xml
application/modules/Paystack/
application/modules/Paystack.php
application/documents/paystack-secure.png
